* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: black;
  color: white;
  overflow: hidden;

}


.topnav {
  display: flex;
  flex-wrap: wrap;
  height: 60px;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 0px;
}

.left {
  margin-left: 60px;
}

.right a {
  text-decoration: none;
  color: white;
  margin-right: 30px;

}

.right a:hover {
  text-decoration: underline;
}

.icon {
  display: none;
}

/* #home{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
      } */

#home24::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.99;
}

.drone24 img {
  width: 641px;
  height: 356px;
  margin: 6px 713px;
  position: absolute;
  margin-top: 100px;
}

#home24::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

.calender {
  position: absolute;
  top: 497px;
  width: 350px;
  left: 350px;
  opacity: 0;
  animation: textanimationcalender 3s forwards;
}

.phonecalender {
  width: 80vw;
  height: 60vh;
  border: 2px solid white;
  display: none;
}

.phonecalender img {
  height: 98%;
  width: 100%;
}

@keyframes textanimationcalender {
  100% {
    opacity: 1;
    transform: translateY(-380px);
  }
}




@media screen and (max-width: 600px) {
  .right a:not(:last-child) {
    display: none;
  }

  .icon {
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    height: 120px;
    display: block;
    padding: 10px;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 30px;
    top: 10px;
  }

  .topnav.responsive .right a {
    display: block;
    text-align: right;
    margin: 4px;

  }

  .drone24 img {
    width: 79vw;
    height: 22vh;
    /* margin: 45% 13%; */
    margin-top: 11vh;
    margin-left: 10.5vw;
    position: absolute
  }

  .calender {
    display: none;
  }

  .phonecalender {
    display: contents;
    margin: 8vw auto;


  }

  .phonecalender img {
    margin-top: 0vh;
    margin-left: 1vw;
    width: 100vw;
    height: 51vh;
  }

  .drone24 img {
    z-index: -1;
    margin-top: 0vh;
  }

  .phonecalender h2 {
    color: white;
    font-size: 2vh;
    margin-top: 1vh;
    margin-left: 42vw;
  }
}