body{
    background-color: black;
}
.phonecalender{
    width: 80vw;
    height: 40vh;
    border: 2px solid white;
}
.phonecalender img{
    height: 95%;
    align-items: center;
    width: 95%;
}