* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
}

i {
    color: white;
}

.topnav {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 10px;
}

.left {
    margin-left: 60px;
}

.show {
    display: none;
}

.right a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

.right a:hover {
    text-decoration: underline;
}

.icon {
    display: none;
}

.pre {
    width: 200px;
    text-align: center;
    overflow: hidden;
    float: right;
    margin-top: 5px;
}

.pre div {
    padding: 5px;
}

.pre a {
    color: white;
    margin-top: 5px;
    text-decoration: none;
    font-size: 20px;
}

.preview {
    display: none;
}

.drone26 img {
    width: 641px;
    height: 356px;
    margin: 6px 713px;
    position: absolute;
    margin-top: 100px;
}
.name26{
    display: none;
}
.tickbox{
    display: none;
}
.tickimg {
    position: relative;
    left: 350px;
    top: 100px;
    height: 580px;
}

.wrapper {
    position: absolute;
    top: 45%;
    left: 420px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.4s ease-in-out 0.4s forwards,
        scale 0.3s ease-in-out 0.9s both;
}

.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {

    0%,
    100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 40px 60px 60px 60px #7ac142;
    }
}

@media screen and (max-width: 600px) {
    .right a:not(:last-child) {
        display: none;
    }

    .icon {
        display: inline-block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        height: 120px;
        display: block;
        padding: 10px;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 30px;
        top: 10px;
    }

    .topnav.responsive .right a {
        display: block;
        text-align: right;
        margin: 4px;

    }
    .drone26 img{
        z-index: -1;
        margin-top: 0vh;
        width: 79vw;
        height: 22vh;
        /* margin: 45% 13%; */
        margin-top: 42vh;
        margin-left: 10.5vw;
        position: absolute
      }
      #hide .tickimg{
          display: none;
      }
      .tickbox{
        display: block;
        border: 2px solid white;
        width: 86vw;
        height: 27vh;
        margin-top: 2.5vh;
        margin-left: 8vw;
        border-radius: 40px;
      }
      .wrapper {
        position: absolute;
        top: 26vh;
        left: 42vw;
        width: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
    }
    .name26{
        display: block;
        margin-left: 41vw;
        margin-top: 6vh;
        font-size: 2.5vh;

    }
}